.macg-div-1 {
    background: url('../images/macgregor.jpg');
    background-size: cover;
    margin: 0 !important;
}

.macg-div-game {
    background: url('../images/Game_Room_2.jpg');
    background-size: cover;
    margin: 0 !important;
}

.macg-div-study {
    background: url('../images/Study_Rooms_3.jpg');
    background-size: cover;
    margin: 0 !important;
}

.macg-div-weight {
    background: url('../images/Weight_Room_1.jpg');
    background-size: cover;
    margin: 0 !important;
}

.macg-div-dining {
    background: url('../images/Dining_Hall_1.jpg');
    background-size: cover;
    margin: 0 !important;
}

.macg-div-dance {
    background: url('../images/Dining_Hall_2.jpg');
    background-size: cover;
    margin: 0 !important;
}

.macg-div-bike {
    background: url('../images/Bikes_1.jpg');
    background-size: cover;
    margin: 0 !important;
}

.semi-transparent-bg {
    background-color: rgba($color: #000000, $alpha: 0.6);
}