// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/bootstrap";

.bg-dark {
    background-color: $gray-900  !important;
}

.nav-link, .nav-link:visited{
    color: $red-500;
}

.nav-link:hover, .nav-link:active{
    color: $red-200;
}

.nav-pills .nav-link.active{
    background-color: $red-800;
}

.dropdown-item:active{
    background-color: $red-500;
}